<div class='content-wrapper'>
  <div class='content-navigation'>
    <p class='lead'>Ember workShop</p>
    <div class='list-group'>
      {{#each uniqCategories}}
        {{#link-to 'products' (query-params category=name) class='list-group-item'}}{{name}} <small> ({{products.length}})</small>{{/link-to}}
      {{/each}}
    </div>
  </div>  <!-- /.content-navigation -->

  <div class='content-main'>
    {{partial 'carousel'}}

    <div class='products'>
      {{#each filteredContent}}
      <div class='product'>
        <div {{bind-attr class=':thumbnail isDirty'}}>
            <img {{bind-attr src=image}}>
            <div class='caption'>
              <h4 class='pull-right'>${{price}}</h4>
              <h4>{{#link-to 'products.show' this}}{{title}}{{/link-to}}</h4>
              <p class='badge'>{{categoryName}}</p>
              <p>{{description}}</p>
            </div>
            <div class='ratings'>
              <p class='pull-right'>15 reviews</p>
              <p>
              <span class='glyphicon glyphicon-star'></span>
              <span class='glyphicon glyphicon-star'></span>
              <span class='glyphicon glyphicon-star'></span>
              <span class='glyphicon glyphicon-star'></span>
              <span class='glyphicon glyphicon-star'></span>
              </p>
            </div>
          </div>
        </div>
      {{/each}}
    </div>
  </div>  <!-- /.content-main -->

  <div class='content-detail'>
    {{outlet}}
  </div>  <!-- /.content-detail -->
</div>  <!-- /.content-wrapper -->
